<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="showSettings()">NFC settings</ion-button>
    <ion-button (click)="checkEnabled()">NFC enabled?</ion-button>
    <ion-button (click)="readNdef()">listen to Ndef</ion-button>
    <ion-button (click)="removeNdef()">stop listen to Ndef</ion-button>
    <ion-button (click)="readNTag()">realisten to NTag</ion-button>
    <ion-button (click)="removeNTag()">stop listen to NTag</ion-button>
    <ion-button (click)="writeToTag()">write tag</ion-button>
    <ion-button (click)="shareMessage()">share message</ion-button>
    <ion-button (click)="unShareMessage()">unshare message</ion-button>
    <ion-button (click)="eraseTag()">erase ndef tag</ion-button>
    <ion-button (click)="startSession()">start scan session</ion-button>    
    <ion-button (click)="startSessionTag()">start scan session UID</ion-button>
    <ion-button (click)="endSession()">end scan session</ion-button>

  </div>
</ion-content>
